body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #999;
  height: 40px;
  border: 1px solid transparent;
}

header h1 {
  color: #eee;
  font-weight: 400;
  font-size: 1em;
  padding-left: 1em;
}

.content {
  margin: 10px auto;
  width: 900px;
}

label {
  display: block;
  font-size: 0.8em;
}

input {
  width: 100%;
  padding: 5px;
}

#book {
  margin-bottom: 1em;
}

#book:focus {
  outline: none !important;
}

.select-wrapper {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.select {
  padding: 5px 8px;
  width: 100%;
  display: block;
  line-height: 1.3em;
  font-size: 16px;
  border: none;
  box-shadow: none;
  background: transparent none;
  -webkit-appearance: none;
}

.select-wrapper select:focus {
  outline: none;
}

.chartbox {
  font-size: 16px;
  padding: 1em;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: .5em;
  width: 3.5em;
  height: 3.5em;
  background-color: #eee;
  color: #333;
}

.chartbox.selected {
  color: #fff;
}

form {
  margin: 1rem auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 14px;
  margin-bottom: 1rem;
}

button {
  border-radius: 6px;
}

label {
  font-weight: bold;
  color: #555555;
}


.primary {
  background-color: #577cbd;
  padding: 0.5rem 1rem;
  color: #eeeeee;
  font-size: medium;
}

.block {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #eeeeee;
  width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}